header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: nowrap; 
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav li {
    display: inline;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between search bar and button */
}

.search-bar {
    flex-grow: 1;
    margin: 0 10px;
}

.signIn {
    font-size: 1rem;
    padding: 5px 12px;
    white-space: nowrap; 
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #ffffff; 
}

.menu-icon ion-icon {
    color: #ffffff;
    font-size: 2rem;
}


/* Responsive Styles for Small Screens */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 10px;
        align-self: center;
    }

    .header-actions {
        width: 100%;
        justify-content: space-between;
        gap: 10px;
    }

    .search-bar {
        flex-grow: 1;
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
    }

    .nav {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: rgb(25, 17, 17);
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        z-index: 1000;
    }

    .nav.nav-open {
        display: flex;
    }
}
