header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    transition: 0.5s;
    z-index: 10000;
}

header.scrolled {
    background: rgb(0, 0, 0,0.6);
    border-bottom: 2px solid var(--primary);
    border-image: linear-gradient(90deg, transparent,var(--primary), transparent, 30);
    
}

.logo{
    font-family: 'Oswald', sans-serif; 
    font-size: 35px; 
    color: #ffffff; 
    letter-spacing: 3px; 
    font-weight: 600; 
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); 
    background: linear-gradient(90deg, #ff3700, #ffae00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav{
    display: flex;
}