.mainBtn {
    position: relative;
    display: inline-block; 
    align-items: center;
    gap: 10px;
    margin-right: 15px;
    background: var(--primary);
    color: #ffffff;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer !important;
    border: none;
}

.signIn {
    border-radius: 50px; 
}

.mainBtn:hover {
    color: var(--primary) !important;
    background: #ffffff !important;
    cursor: pointer;
}

/* Mobile-specific button style */
@media (max-width: 768px) {
    .mainBtn {
        font-size: 0.9rem; 
        padding: 5px 12px;  
        white-space: nowrap; 
    }


    .signIn {
        font-size: 0.9rem;
        padding: 5px 12px;
        border-radius: 50px; 
    }
}
