.card-review {
  width: 100%;
  max-width: 300px;
  margin: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-review-image {
  background-size: cover;
  background-position: center;
  padding: 20px;
  height: 350px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.card-review-content {
  padding: 20px;
  text-align: center;
  color: white;
}

.card-review-title-img {
  width: 80%;
  margin: 0 auto 15px;
  border-radius: 8px;
}

.card-review h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-review-year,
.card-review-category {
  font-size: 1rem;
  color: #ddd;
}

.card-review-rating {
  margin-top: 10px;
}

.star {
  font-size: 1.2rem;
  color: #ccc;
}

.star.filled {
  color: #f7b500;
}

.card-review-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff9900;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.card-review-btn:hover {
  background-color: #e68900;
}
